<h1>About speakerATL</h1>
<p>
In the metro Atlanta market it's difficult to find an expert speaker 
without paying a speaker fee.  But there are plenty of experts who 
would love to share their knowlege -- but how do you find them?
</p>
<p>
speakerATL is a resource for anyone planning an event looking for a local
expert to speak at their event.  From scout meetings to civic associations, 
meetups to school events -- there is a huge need for an easy way to connect
experts and people looking for them. 
</p>
<p>App developed by Beth Laing for General Assembly's WDI project four.</p>